
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/RideHistory.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/RideHistory.js"></script>
<script src="js/rider_detail.js"></script>
<title>Ride History</title>

</head>
<body>
	<header>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<br> <a href="UserProfile"><span
				class="glyphicon glyphicon-user"
				style="font-size: 30px; color: white;"></span>&ensp; Your Account</a> <a></a>
			<a href="booking"><span
				class="glyphicon glyphicon-star-empty"
				style="font-size: 30px; color: white;"></span>&ensp; Book Ride</a> <a></a>

			<a href="RideHistory"><span class="glyphicon glyphicon-list"
				style="font-size: 30px; color: white;"></span>&ensp; Rides History</a> <a></a>
					<a href="driver_feedback"><span class="glyphicon glyphicon-list" style="font-size:30px;color:white;"></span>&ensp; Driver FeedBack</a>
			<a></a>
				<a href="customer_feedback" target="_blank"><span class="glyphicon glyphicon-list" style="font-size:30px;color:white;"></span>&ensp; FeedBack</a>
			<a></a>
			<a href="/" id="logout"><span class="glyphicon glyphicon-off"
				style="font-size: 30px; color: white;"></span>&ensp; Log Out</a>
		</div>

		<div id="main">
			<span style="font-size: 40px; cursor: pointer" onclick="openNav()">&#9776;</span>
		</div>

		</div>

		<div id="title" style="cursor: pointer" onclick="">
			<a href="SelectionPage" style="color: white"><span
				class="glyphicon glyphicon-map-marker"></span>CabBooking </a>
		</div>
		<hr>
	</header>
 <br><br>
 <div class="container"> 
		<form>
		 
			<table class="table table-hover   table-responsive" id="tripdetails">
  <thead class="thead">
    <tr>
  						 <th scope="col">Driver Name</th>
						<th scope="col">Driver Number</th>
						<th scope="col">Source</th>
						<th scope="col">Destination</th>
						<th scope="col">Amount</th>
						<th scope="col">Booking Date</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
		</form>
	 </div> 
	

</body>
</html>


